#!/usr/bin/env bash

export UPDATE="update" # `shellcheck`: workaround for line 30
export UPGRADE="full-upgrade"

function cache() {
  if [ "$(which apt)" ]; then
    sudo apt autoremove
  fi
  if [ -d ~/.nvm ]; then
    nvm cache clear
    for node in $(nvm ls --no-colors | grep -vE '$(nvm current)|default|lts' | awk '{printf "%s ",$1}' | sed 's/->//g') # nvm doesn't let you (un)install in one fell swoop for some reason
    do
      nvm uninstall $node # delete Node.js versions not in use
    done
  fi
}

function darkmode() {
cat <<EOM >$HOME/.config/gtk-3.0/settings.ini
[Settings]
gtk-application-prefer-dark-theme=1
EOM
}

function lightmode() {
cat <<EOM >$HOME/.config/gtk-3.0/settings.ini
[Settings]
gtk-application-prefer-dark-theme=0
EOM
}

function nosleep() {
  if [ "$(which gsettings)" ]; then
    gsettings get org.gnome.settings-daemon.plugins.power sleep-inactive-ac-timeout >/dev/null
    if [ $? -eq 0 ]; then
      if [ "$(gsettings get org.gnome.settings-daemon.plugins.power sleep-inactive-ac-timeout)" == "900" ]; then
        gsettings set org.gnome.settings-daemon.plugins.power sleep-inactive-ac-timeout 0 # never sleep on inactivity
        echo "Sleep on inactivity disabled."
      elif [ "$(gsettings get org.gnome.settings-daemon.plugins.power sleep-inactive-ac-timeout)" == "0" ]; then
        gsettings set org.gnome.settings-daemon.plugins.power sleep-inactive-ac-timeout 900 # sleep after 15 min of inactivity
        echo "Sleep on inactivity set to 15 minutes."
      fi
    fi
  fi
}

function update() {
  if [ "$(uname)" == "Darwin" ]; then
    sudo softwareupdate -ia # fetch and install latest updates from the Mac App Store
  elif [ "$(which apt)" ]; then
    echo ""
    echo "Running APT..."
    echo ""
    sudo apt $UPDATE # refresh package lists
    sudo apt $UPGRADE # install updated packages
  fi
  if [ -d ~/.nvm ]; then
    echo ""
    echo "Running nvm..."
    echo ""
    nvm install stable # install the latest Node.js release
  fi
  if [ "$(which apm)" ]; then
    echo ""
    echo "Running apm..."
    echo ""
    apm update # update Atom packages
  fi
}

export -f cache
export -f update
